NUXT_SUPABASE_URL=https://eovaajtudaxfmedhxhkr.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvdmFhanR1ZGF4Zm1lZGh4aGtyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxNDI3MzgsImV4cCI6MjA3ODcxODczOH0.oMIjBbiiO_S8DBYjHTuBvCUD9gHNLNBWc5AHc58L8Vc
NUXT_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvdmFhanR1ZGF4Zm1lZGh4aGtyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzE0MjczOCwiZXhwIjoyMDc4NzE4NzM4fQ.pDyPGA3wG13a2NlH0BlDDnDQ2IL7okHBJD2-aHyoz_k

NUXT_JWT_SECRET=qku5fVNdBxaIEi8aqItIjcMacvVasQ2RZxfsd444lHCrhTTbPzcKmYpt4zVhKsmu

NUXT_EVOLUTION_API_URL=https://hiveapi-hiveapi.lt5boc.easypanel.host
NUXT_EVOLUTION_API_KEY=vXXeKeJuiWnrijf0NlL5Wl5dmZFCRs6SWNmyj7ENIXwA5nnHLPNB0PeBDqZe3FaI
NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_WORKER_SERVICE_URL=http://localhost:8080
NUXT_WORKER_TOKEN=AoqJaukThDDBHoIBmyuMGnvYW2Dh4JsIfFBgEcHE4lKO1VDGRb1aS41QkWakinoi

WORKER_HTTP_ADDR=:8080
WORKER_TOKEN=AoqJaukThDDBHoIBmyuMGnvYW2Dh4JsIfFBgEcHE4lKO1VDGRb1aS41QkWakinoi
SUPABASE_URL=https://eovaajtudaxfmedhxhkr.supabase.co
SUPABASE_SERVICE_ROLE=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvdmFhanR1ZGF4Zm1lZGh4aGtyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzE0MjczOCwiZXhwIjoyMDc4NzE4NzM4fQ.pDyPGA3wG13a2NlH0BlDDnDQ2IL7okHBJD2-aHyoz_k
EVOLUTION_API_URL=https://hiveapi-hiveapi.lt5boc.easypanel.host
EVOLUTION_API_KEY=vXXeKeJuiWnrijf0NlL5Wl5dmZFCRs6SWNmyj7ENIXwA5nnHLPNB0PeBDqZe3FaI
DEFAULT_DELAY_SECONDS=10
REDIS_URL=rediss://default:AZTAAAIncDIzMjQ3MTQ0OGIxMjE0OWVjOWEyNTdkMmU1YTVjZGQ1NnAyMzgwODA@assuring-marmot-38080.upstash.io:6379
REDIS_LOCK_TTL_SECONDS=300
WORKER_INSTANCES=1